services:
  dev:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
      args:
        - USER_ID=${USER_ID:-1000}
        - GROUP_ID=${GROUP_ID:-1000}
    ports:
      - "8000:8000"
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - STORAGE=${STORAGE}
      - S3_BUCKET=${S3_BUCKET}
      - REGION_NAME=${REGION_NAME}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - UPLOAD_DIRECTORY=/tmp/uploads
    volumes:
      - ../src:/app
      - ${UPLOAD_DIRECTORY}:/tmp/uploads
    command: fastapi dev main.py --host 0.0.0.0

  prod:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
      args:
        - USER_ID=${USER_ID:-1000}
        - GROUP_ID=${GROUP_ID:-1000}
    ports:
      - "80:8000"
    environment:
      - PYTHONDONTWRITEBYTECODE=0
      - STORAGE=${STORAGE}
      - S3_BUCKET=${S3_BUCKET}
      - REGION_NAME=${REGION_NAME}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - UPLOAD_DIRECTORY=/tmp/uploads
    volumes:
      - ${UPLOAD_DIRECTORY}:/tmp/uploads
    command: fastapi run main.py
